@tailwind base;
@tailwind components;
@tailwind utilities;
  
:root {
  --main: #A3E636;
  --overlay: rgba(0, 0, 0, 0.8); /* background color overlay for alert dialogs, modals, etc. */

  --bg: #E0E7F1;
  --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
  --blank: #000; /* blank black and white */
  --border: #000;
  --text: #000;
  --mtext: #000; /* text that is placed on background with main color e.g. text color of default button */
  --ring: #000;
  --ring-offset: #fff;

  --border-radius: 5px;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;
  --base-font-weight: 500;
  --heading-font-weight: 700;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

.dark {
  --bg: #2c312b;
  --bw: #212121;
  --blank: #fff;
  --border: #000;
  --text: #e6e6e6;
  --mtext: #000;
  --ring: #fff;
  --ring-offset: #000;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

@layer utilities {
  .custom-connect {
    @apply p-4 border-4 border-black shadow-[4px_4px_0px_black] bg-red-500 text-white font-semibold w-full justify-center transition-all duration-200 rounded-none;
  }

  .custom-connect:hover {
    background-color: #80a545 !important;
    color: #1c2511 !important;
    box-shadow: none !important;
  }
}

[data-testid="ockConnectButton"] {
  background-color: #ef4444 !important; /* Tailwind's bg-red-500 */
  color: #000 !important;
  border-radius: 0 !important;
  border-width: 4px !important;
  border-color: #000 !important;
  box-shadow: 4px 4px 0px #000 !important;
  font-weight: 600 !important;
  width: 100% !important;
  justify-content: center !important;
  transition: all 0.2s !important;
}

[data-testid="ockConnectButton"]:hover {
  background-color: #beee70 !important;
  color: #1c2511 !important;
  box-shadow: none !important;
}

[data-testid="ockConnectWallet_Connected"] {
  background-color: #a3e636 !important;
  color: #000 !important;
  border-radius: 0 !important;
  border-width: 4px !important;
  border-color: #000 !important;
  box-shadow: 4px 4px 0px #000 !important;
  font-weight: 600 !important;
  width: 100% !important;
  justify-content: center !important;
  transition: all 0.2s !important;
  gap: 0.5rem !important; /* Tailwind's gap-2 */
  display: flex !important;
  align-items: center !important;
}

[data-testid="ockConnectWallet_Connected"]:hover {
  background-color: #a3e636 !important;
  color: #1c2511 !important;
  box-shadow: none !important;
}